.popup__career {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-bottom: 13px;
    margin-bottom: 10px;
}