.element__heart-button_active {
    width: 23px;
    height: 19px;
    background-image: url(../../../../images/like-active.svg);
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.4s;
}

.element__heart-button_active:hover {
    opacity: 0.5;
}