.popup__submit-btn {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 14px 0;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.4s;
}

.popup__submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.8)
}