.popup__submit-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 48px;
    padding: 14px 0;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.4s;
}

.popup__submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 320px) {
    .popup__submit-btn {
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 26px;
        max-width: 238px;
    }
}