.popup__close-btn {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-btn.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    top: -35px;
    right: -35px;
    transition: all 0.4s;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__close-btn {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}